body{
    padding: 10px;
    max-width: 100vw;
    max-height: 100vh;
}
.container{
    min-height: 100vh;
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
    /* align-items: center; */
    overflow-y: auto;
}

.cards{
    flex: 1 1 300px;
    max-height: 500px;
}

.cards .text-wrapper{
    position: relative;
    display: inline-block;
}

.cards .text-wrapper p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.cards .tooltip{
    position: absolute;
    top:-20px;
    left:-20px;
    width:300px;
    display: none;
    z-index:100;
    background-color: black;
    color: white;
}

.cards .text-wrapper:hover .tooltip{
    display: block;
}



/* .cards p:hover::after{
    content: attr(data-fulltext);
    position: absolute;
    top:0;
    left:0;
    background-color:black;
    color:white;
    white-space:normal;
    padding:8px;
    width: 300px;
    z-index: 100;
} */


/* .container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:16px;
}

.cards{
    border:solid black;
    margin: 0 auto;
    overflow-y: hidden;
} */


/* For tootip.tsx */

.text-wrapper-tltp p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
}

.tooltip-tltp{
    background-color: black;
    color: white;
    padding: .5rem;
    font-size: 0.75rem;
    position: absolute;
    z-index: 100;
}





